@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: hidden;
}

body {
  color: #131318;
  background: #f8f8f8;
  overflow-y: hidden;
}

body input,
body textarea {
  color: #f8f8f8;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 8px 0;
}

code {
  color: #ffa500;
}

li {
  padding: 4px;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.overflow-auto::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.overflow-auto {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}